<main>
  <p>People List</p>
  <div class="container">
    <form #peopleForm="ngForm" (ngSubmit)="addPerson(peopleForm)" id="formContainer">
      <input type="text" placeholder="Name" name="name" id="name" ngModel required />
      <input type="text" placeholder="Age" name="age" id="age" required />
      <select name="gender" ngModel required>
        <option>Male</option>
        <option>Female</option>
      </select>
      <input type="text" placeholder="Mobile" name="mobile" id="mobile" ngModel required />
      <button type="submit">Add</button>
    </form>

    <div *ngFor="let person of people">
      <p>Name: {{ person.name }}</p>
      <p>Age: {{ person.age }}</p>
      <p>Gender: {{ person.gender }}</p>
      <p>Mobile: {{ person.mobile }}</p>
    </div>
  </div>
</main>
```                                                                       